<footer class="page-footer font-small pt-3" style="background-color: #e7182a">

<div class="container">

<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Conheça mais sobre o MCU </h4>
</div>
</div>

<div class="col-md-12 d-flex justify-content-center">
    <ul class="social-network text-white" >
      <li>
        <a
          href="https://www.facebook.com/MarvelCinematicUniverse/"
          target="_blank"
          class="icoFacebook text-white "
        > 
          <i class="fa fa-facebook-square  " aria-hidden="true">  Facebook </i>
        </a>
      </li>

      <li  >
        <a
          href="https://www.instagram.com/marvelstudios/?hl=pt-br"
          target="_blank"
          class="icoInstagram text-white "
        >
          <i class="fa fa-instagram " aria-hidden="true">  Instagram</i>
        </a>
      </li>

         </ul>
  </div>

</div>



</footer>
